@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

body {
    background-color: white;
    margin: 1em;
    padding: 0%;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

header {
    background-color: #0057b7;
    color: white !important;
    text-decoration: none;
}

main {
    padding: 16px;
}

a, a:hover, a:focus, a:active, h1 {
    color: #0057b7;
    text-decoration: none;
}

h1 {
    font-variant: small-caps;
    text-shadow: rgba(67, 66, 62, 0.72) 1px 0 10px;
}

image {
    height: 200px;
    width: 197px;
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }

footer {
    font-size: medium;
    margin-left: auto;
    padding: 16px;
    margin-top: 20px;
    background-color: #ffd700;
}

table {
    border: 1px solid #ccccccd7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #cccccc47;
}

.table-body-row-color tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.269);
}
